<div class="cont2">
   <div class="card mb-5">
      <div class="card-body">
        <h1 class="text-center">Edit todo list</h1>
      </div>
    </div>
   <div class="forms">
    <%= render 'form', todo_list: @todo_list %>
   </div>

  <br>

   <div>
    <%= link_to "Todo List", @todo_list %> |
   </div>
</div>
