<div class="cont2">
   <div class="card mb-5">
      <div class="card-body">
        <h1 class="text-center">Edit todo</h1>
      </div>
    </div>
   <div class="forms">
    <%= render 'form', todo: @todo %>
   </div>

  <br>

   <div>
    <%= link_to "Todo", @todo %> |
   </div>
</div>
