
<div class="cont2">
   <div class="card mb-5">
      <div class="card-body">
        <h1 class="text-center">New todo </h1>
      </div>
    </div>
      <p id="notice"><%= notice %></p>
      

   <div class="forms">
    <%= render 'form', todo: @todo %>
   </div>

   <%= link_to "Back", todos_path %>
</div>

